
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: var(--background-lite-color);
    color: #333;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 2vw;
    border-bottom: 1px solid #ddd;
}

.logo {
    width: 40px;
    height: 40px;
    background: #2f6f4f;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 60%;
    height: 60%;
}

.title {
    font-weight: bold;
}

.subtitle {
    font-size: 12px;
    color: #777;
}

.hero {
    text-align: center;
    margin: 20px 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero p {
    color: #666;
    margin-bottom: 20px;
    width: 500px;
    max-width: 80%;
}

.search {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.search input {
    width: 100%;
    max-width: 500px;
    margin: 0 16px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 4px;
    padding: 20px 40px;
}

#catalogue {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 4px;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 12px;
    color: #888;
}

.message-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/5;
    max-height: 100px;
}

@media (max-width: 1000px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        padding: 4px;
    }
}